<div class="mt-5" style="margin-left: 51rem;">
    <button [routerLink]="['customer']" type="button" class="btn btn-primary">ADD</button>
</div>
<div *ngFor="let customer of Customer" class="row mt-3 mb-3">
  <div class="card border-primary mb-3 m-auto" style="width: 40rem;">
    <div class="card-header"><a routerLink="update/{{customer.id}}">ID : {{customer.id}}</a></div>
      <div class="card-body">
        <p class="card-text">Firstname: {{customer.first_name}}</p>
        <p class="card-text">Lastname: {{customer.last_name}}</p>
        <p class="card-text">E-Mail: {{customer.email}}</p>
    </div>
  </div>
</div>