<div *ngIf="Customer" class="row mt-5">
  <form class="m-auto">
    <div class="card border-primary mb-3" style="width: 40rem;">
      <div class="card-header">ID : {{Customer.id}}</div>
      <div class="card-body">
        <div class="form-group row">
          <label for="first_name" class="col-sm-2 col-form-label">Firstname</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="first_name"
              value="{{Customer.first_name}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="last_name" class="col-sm-2 col-form-label">Lastname</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="last_name"
              value="{{Customer.last_name}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="email" value="{{Customer.email}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="zipcode" class="col-sm-2 col-form-label">Zipcode</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="zipcode" value="{{Customer.zipcode}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="password"
              value="{{Customer.password}}">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row justify-content-center">

  <div class="mt-3">
    <button *ngIf="!enableEdit" (click)="enableEdit = true" type="button" class="btn btn-primary">Edit</button>
  </div>

  <div class="mt-3 mr-2">
    <button *ngIf="enableEdit" type="button" class="btn btn-primary">Save</button>
  </div>

  <div class="mt-3">
    <button *ngIf="enableEdit" (click)="enableEdit = false" type="button" class="btn btn-secondary">Cancel</button>
  </div>

  <div class="mt-3">
    <button *ngIf="!enableEdit" type="button" class="btn btn-info" (click)="deleteCustomer()">Delete</button>
  </div>

</div>